importVtd/Service References/startTable/oraWCFService_ImpVtd1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57718/BaseApp/Modules/Import_vtd/oraWCFService_ImpVtd.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Get_ImpVTD_Making_List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ImpVTD_Making_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Get_ImpVTD_Making_ListResult" nillable="true" type="q1:ImpVTD_Making" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBDefect_List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBDefect_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDBDefect_ListResult" nillable="true" type="q2:GetDBDefect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoForNewImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyImp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoForNewImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetInfoForNewImportResult" nillable="true" type="q3:InfoForNewImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBDefect_ListFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyImp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBDefect_ListFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDBDefect_ListFileResult" nillable="true" type="q4:GetDBDefectFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDbDefectMaping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyImp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDbDefectMapingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDbDefectMapingResult" nillable="true" type="q5:GetDBDefectMaping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMapingDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyMap" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMapingDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="DeleteMapingDictResult" nillable="true" type="q6:StatusAnswer_ImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMapingDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="dBDefectMapingList" nillable="true" type="q7:ArrayOfGetDBDefectMapingList" />
        <xs:element minOccurs="0" name="keyImp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMapingDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SaveMapingDictResult" nillable="true" type="q8:StatusAnswer_ImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ImpVTD_Making_One">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ImpVTD_Making_OneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Get_ImpVTD_Making_OneResult" nillable="true" type="q9:ImpVTD_Making" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MG_ImpVtd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MG_ImpVtdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Get_MG_ImpVtdResult" nillable="true" type="q10:MG_ImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadsForMg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadsForMgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetThreadsForMgResult" nillable="true" type="q11:ThreadForMgImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountVtdForThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountVtdForThreadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCountVtdForThreadResult" nillable="true" type="q12:CountVtdSec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVTDSec_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVTDSec_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetVTDSec_ListResult" nillable="true" type="q13:VtdSec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVTDSec_Param">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVTDSec_ParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetVTDSec_ParamResult" nillable="true" type="q14:VtdSecParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVTD_data_AllList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVTD_data_AllListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetVTD_data_AllListResult" nillable="true" type="q15:VtdNumberDogAllList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DictDefectXSL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DictDefectXSLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Get_DictDefectXSLResult" nillable="true" type="q16:DictDefectXSL_ImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVTD_Data_Params">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVTD_Data_ParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetVTD_Data_ParamsResult" nillable="true" type="q17:VtdDogovorParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeftTableData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeftTableDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLeftTableDataResult" nillable="true" type="q18:VtdTubeBaza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRightTableData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRightTableDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetRightTableDataResult" nillable="true" type="q19:VtdTubeBaza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeftDefectListTube">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeftDefectListTubeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLeftDefectListTubeResult" nillable="true" type="q20:ArrayOfDefectListTube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRightDefectListTube">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRightDefectListTubeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetRightDefectListTubeResult" nillable="true" type="q21:ArrayOfDefectListTubeRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VTD_MapsDicts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ikeyImport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VTD_MapsDictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="VTD_MapsDictsResult" nillable="true" type="q22:StatusAnswer_ImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MapsDicts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ikeyImport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MapsDictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="MapsDictsResult" nillable="true" type="q23:StatusAnswer_ImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getvtdfile_param">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tmp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getvtdfile_paramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Getvtdfile_paramResult" nillable="true" type="q24:ArrayOfVtdfileParamTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_VTDXLSfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tmp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_VTDXLSfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_VTDXLSfileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImpLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tmp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImpLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetImpLogResult" nillable="true" type="q25:ImpLogVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyKeyMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tmp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrayKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyKeyMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ApplyKeyMapResult" nillable="true" type="q26:StatusAnswer_ImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_TubeJournal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyImp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_TubeJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Get_TubeJournalResult" nillable="true" type="q27:GetTubeJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoForVtdImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tmp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoForVtdImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetInfoForVtdImportResult" nillable="true" type="q28:ArrayOfInfoForVtdImportTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatisticsTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyImport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatisticsTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="StatisticsTableResult" nillable="true" type="q29:GetStatisticsTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportVTDLaunches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tmp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportVTDLaunchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ImportVTDLaunchesResult" nillable="true" type="q30:StatusAnswer_ImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDefects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tmp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDefectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportDefectsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTubeJournal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tmp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTubeJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportTubeJournalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserNameByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVtdImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyImport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVtdImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="DeleteVtdImportResult" nillable="true" type="q31:StatusAnswer_ImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_New_ImportVTD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userKeyVar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileNameVar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pathVar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vtdDataKeyVar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_New_ImportVTDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Create_New_ImportVTDResult" nillable="true" type="q32:KeyImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetKeyUserResult" nillable="true" type="q33:KeyUserVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetServiceVersionResult" nillable="true" type="q34:ServiceVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDbRepers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyImp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDbRepersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDbRepersResult" nillable="true" type="q35:GetDbRepers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileRepers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tmp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileRepersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetFileRepersResult" nillable="true" type="q36:GetFileRepers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_VTDXLSfileTrue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newImportKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_VTDXLSfileTrueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Load_VTDXLSfileTrueResult" nillable="true" type="q37:StatusAnswer_ImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="impKey" type="xs:double" />
        <xs:element minOccurs="0" name="typeOfImport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ImportFileResult" nillable="true" type="q38:StatusAnswer_ImpVtd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOld_VTD_Available">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vtdMakingKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOld_VTD_AvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="IsOld_VTD_AvailableResult" nillable="true" type="q39:GetImportSecond" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyImport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filekey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBoundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="RemoveBoundResult" nillable="true" type="q40:RemoveBound" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTubeMatching">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vtdMakingKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filekey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dbKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeLink" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTubeMatchingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ImportTubeMatchingResult" nillable="true" type="q41:KeyBoundResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vtdMakingKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetTemMappingResult" nillable="true" type="q42:KeyBoundResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVtdJobStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVtdJobStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetVtdJobStatusResult" nillable="true" type="q43:Res_Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVtdImpInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVtdImpInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetVtdImpInfoResult" nillable="true" type="q44:ArrayOfInfoForOneVtdImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetJobStatusResult" nillable="true" type="q45:JobStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>